{% extends '::base.html.twig' %}

{% block title %}
    {{ user }} profile
{% endblock %}

{% block h1 %}
    {{ user }} profile
{% endblock %}


{% block menu %}
    <ul class="menu">
        <li class="first leaf rss"><a
                    href="/bash.rss?token=WJieXgVAbka5rreCz9pd" title="">rss</a>
        </li>
        <li class="leaf"><a href="{{ path('BashBashBundle_recent', { 'id': 1 }) }}">recent</a></li>
        <li class="leaf"><a href="{{ path('BashBashBundle_best') }}">best</a></li>
        <li class="leaf"><a href="{{ path('BashBashBundle_random') }}">random</a></li>
        <li class="leaf"><a href="{{ path('BashBashBundle_govnokod') }}">govnokod</a></li>
        <li class="leaf"><a href="{{ path('BashBashBundle_addquote') }}">add quote</a></li>
        <li class="leaf"><a href="{{ path('BashBashBundle_addcode') }}">add code</a></li>
        <li class="leaf"><a href="{{ path('BashBashBundle_myquotes') }}">my quotes</a></li>
        <li class="last leaf"><a href="{{ path('fos_user_security_logout') }}">log out</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="profile">

        <h3>

            History

        </h3>
        <dl>
            <dt>

                Member since

            </dt>
            <dd>
                {{ time.created |date('Y-m-d') }}
            </dd>
        </dl>

    </div>
{% endblock %}